.top {
    background: url('img/bg-top.png');
    background-size: cover;
 
}
.head {
    background: url(img/bg-header.png);
    padding-top: 125px;
    background-size: cover;
}
.head h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 65px;
    line-height: 85px;
    color: white;
    padding-top: 25px;
}
.head p {
    color: white;
    padding-top: 20px;
    font-size: 23px;
}

.navbar {
    padding: 0;
}
.nav-link {
    color: white;
}
.nav-link:hover {
    color: white;
}
ul li{
    margin-right: 3em;
}
li.nav-item:hover {
    border-top: 3px solid white;
}
a.nav-link {
    padding: 20px;
}

#feature1,
#feature3{
    background-color: #1D42B1;
    padding: 125px 0;
}
#feature2 {
    background-color: #88D65C;
    padding: 125px 0;
}

.featured-content {
    padding-right: 150px;
    padding-top: 170px;
}
h2 {
    color: white;
    font-weight: bold;
    font-size: 40px;
}
p {
    color: white;
    font-weight: 500;
}
.blue{
	color: #1335B9;
}

#sales{
	background: #F5F5F5;
}
.sales-content {
    padding-top: 125px;
    padding-bottom: 125px;
    padding-right: 75px;
}
.sales-content span.subtitle {
    display: block;
    text-transform: uppercase;
    color: #B3B3B3;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 18px;
}
.sales-content span.tittle {
    color: #4A4A4A;
    font-size: 32px;
    font-weight: 800;
}
.sales-content p {
    color: #4A4A4A;
    font-weight: 300;
    font-size: 15px;
}
.sales-content a {
    background: #88D65C;
    padding: 10px 45px;
    color: white;
    border-radius: 5px;
    font-size: 17px;
}

#faq {
    padding: 125px 0;
}
h3 {
    color: #1335B9;
    font-weight: bold;
    font-size: 40px;
}
span.intro {
    margin-bottom: 50px;
    display: block;
    color: #9B9B9B;
}
.card {
    border: 0px;
}
.card-header {
    background: white;
}




